imports:
    - { resource: service.yml }
    - { resource: repository.yml }

services:
    saferpay:
        class: 'SaferPayOfficial'
        factory: ['Module', 'getInstanceByName']
        arguments:
            - 'saferpayofficial'

    config:
        class: Invertus\SaferPay\Config\SaferPayConfig

    http.client.factory:
        class: Invertus\SaferPay\Factory\HttpClientFactory

    api.request:
        class: 'Invertus\SaferPay\Api\ApiRequest'
        arguments:
            - '@http.client.factory'

    saferpay.order.repository:
        class: Invertus\SaferPay\Repository\SaferPayOrderRepository

    object.creator.auth:
        class: Invertus\SaferPay\Service\Response\AuthorizationResponseObjectCreator

    #todo: task if its better to just call context in constructor
    adapter.context:
        class: Invertus\SaferPay\Adapter\LegacyContext

    Invertus\SaferPay\EntityBuilder\SaferPayAssertBuilder:
        class: Invertus\SaferPay\EntityBuilder\SaferPayAssertBuilder

    Invertus\SaferPay\EntityBuilder\SaferPayAssertRefundBuilder:
        class: Invertus\SaferPay\EntityBuilder\SaferPayAssertRefundBuilder

    Invertus\SaferPay\EntityBuilder\SaferPayCardAliasBuilder:
        class: Invertus\SaferPay\EntityBuilder\SaferPayCardAliasBuilder
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayCardAliasRepository'

    Invertus\SaferPay\EntityBuilder\SaferPayOrderBuilder:
        class: Invertus\SaferPay\EntityBuilder\SaferPayOrderBuilder
