services:
    Invertus\SaferPay\Service\SaferPayCartService:
        class: Invertus\SaferPay\Service\SaferPayCartService
        arguments:
            - '@saferpay'

    Invertus\SaferPay\Api\Request\InitializeService:
        class: Invertus\SaferPay\Api\Request\InitializeService
        arguments:
            - '@api.request'

    Invertus\SaferPay\Api\Request\AssertService:
        class: Invertus\SaferPay\Api\Request\AssertService
        arguments:
            - '@api.request'
            - '@Invertus\SaferPay\Service\Response\AssertResponseObjectCreator'
            - '@Invertus\SaferPay\EntityBuilder\SaferPayAssertBuilder'

    Invertus\SaferPay\Api\Request\AssertRefundService:
        class: Invertus\SaferPay\Api\Request\AssertRefundService
        arguments:
            - '@api.request'
            - '@Invertus\SaferPay\Service\Response\AssertRefundResponseObjectCreator'
            - '@Invertus\SaferPay\EntityBuilder\SaferPayAssertRefundBuilder'

    Invertus\SaferPay\Api\Request\CaptureService:
        class: Invertus\SaferPay\Api\Request\CaptureService
        arguments:
            - '@api.request'

    Invertus\SaferPay\Api\Request\CancelService:
        class: Invertus\SaferPay\Api\Request\CancelService
        arguments:
            - '@api.request'

    Invertus\SaferPay\Api\Request\RefundService:
        class: Invertus\SaferPay\Api\Request\RefundService
        arguments:
            - '@api.request'

    Invertus\SaferPay\Service\Request\RequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\RequestObjectCreator
        arguments:
            - '@saferpay'
            - '@Invertus\SaferPay\Utility\PriceUtility'
            - '@Invertus\SaferPay\Repository\OrderRepository'

    Invertus\SaferPay\Api\Request\AuthorizationService:
        class: Invertus\SaferPay\Api\Request\AuthorizationService
        arguments:
            - '@api.request'
            - '@Invertus\SaferPay\Service\Response\AssertResponseObjectCreator'
            - '@Invertus\SaferPay\EntityBuilder\SaferPayAssertBuilder'
            - '@Invertus\SaferPay\EntityBuilder\SaferPayCardAliasBuilder'

    Invertus\SaferPay\Service\SaferPayInitialize:
        class: Invertus\SaferPay\Service\SaferPayInitialize
        arguments:
            - '@saferpay'
            - '@=service("adapter.context").getContext()'
            - '@Invertus\SaferPay\Api\Request\InitializeService'
            - '@Invertus\SaferPay\Service\Request\InitializeRequestObjectCreator'

    #Request object creator
    Invertus\SaferPay\Service\Request\AssertRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\AssertRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'

    Invertus\SaferPay\Service\Request\AssertRefundRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\AssertRefundRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\AuthorizationRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\AuthorizationRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\CaptureRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\CaptureRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\InitializeRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\InitializeRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\CancelRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\CancelRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\RefundRequestObjectCreator:
        class: Invertus\SaferPay\Service\Request\RefundRequestObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'

    Invertus\SaferPay\Service\Request\ObtainPaymentMethodsObjectCreator:
        class: Invertus\SaferPay\Service\Request\ObtainPaymentMethodsObjectCreator
        arguments:
            - '@Invertus\SaferPay\Service\Request\RequestObjectCreator'
    #

    #Response object creator
    Invertus\SaferPay\Service\Response\AssertResponseObjectCreator:
        class: Invertus\SaferPay\Service\Response\AssertResponseObjectCreator

    Invertus\SaferPay\Service\Response\AssertRefundResponseObjectCreator:
        class: Invertus\SaferPay\Service\Response\AssertRefundResponseObjectCreator

    Invertus\SaferPay\Service\Response\AuthorizationResponseObjectCreator:
        class: Invertus\SaferPay\Service\Response\AuthorizationResponseObjectCreator

    Invertus\SaferPay\Service\Response\InitializeResponseObjectCreator:
        class: Invertus\SaferPay\Service\Response\InitializeResponseObjectCreator

    Invertus\SaferPay\Service\Response\ResponseObjectCreator:
        class: Invertus\SaferPay\Service\Response\ResponseObjectCreator
    #
    Invertus\SaferPay\Service\PaymentRestrictionValidation:
        class: Invertus\SaferPay\Service\PaymentRestrictionValidation
        arguments:
            - !tagged saferpay.paymentrestriction

    Invertus\SaferPay\Service\SaferPayLogoCreator:
        class: Invertus\SaferPay\Service\SaferPayLogoCreator
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayLogoRepository'

    Invertus\SaferPay\Service\SaferPayFieldCreator:
        class: Invertus\SaferPay\Service\SaferPayFieldCreator
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayFieldRepository'

    Invertus\SaferPay\Service\SaferPayPaymentCreator:
        class: Invertus\SaferPay\Service\SaferPayPaymentCreator
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayPaymentRepository'

    Invertus\SaferPay\Service\SaferPayRestrictionCreator:
        class: Invertus\SaferPay\Service\SaferPayRestrictionCreator
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayRestrictionRepository'

    Invertus\SaferPay\Service\SaferPayOrderStatusService:
        class: Invertus\SaferPay\Service\SaferPayOrderStatusService
        arguments:
            - '@Invertus\SaferPay\Api\Request\CaptureService'
            - '@Invertus\SaferPay\Service\Request\CaptureRequestObjectCreator'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'
            - '@Invertus\SaferPay\Api\Request\CancelService'
            - '@Invertus\SaferPay\Service\Request\CancelRequestObjectCreator'
            - '@Invertus\SaferPay\Api\Request\RefundService'
            - '@Invertus\SaferPay\Service\Request\RefundRequestObjectCreator'
            - '@=service("adapter.context")'
            - '@saferpay'

    Invertus\SaferPay\Service\SaferPayExceptionService:
        class: Invertus\SaferPay\Service\SaferPayExceptionService
        arguments:
            - '@saferpay'

    Invertus\SaferPay\Service\SaferPayErrorDisplayService:
        class: Invertus\SaferPay\Service\SaferPayErrorDisplayService

    Invertus\SaferPay\Service\CartDuplicationService:
        class: Invertus\SaferPay\Service\CartDuplicationService

    Invertus\SaferPay\Service\SaferPay3DSecureService:
        class: Invertus\SaferPay\Service\SaferPay3DSecureService
        arguments:
            - '@Invertus\SaferPay\Service\SaferPayOrderStatusService'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'
            - '@Invertus\SaferPay\Service\CartDuplicationService'

    Invertus\SaferPay\Builder\OrderConfirmationMessageTemplate:
        class: Invertus\SaferPay\Builder\OrderConfirmationMessageTemplate
        arguments:
            - '@saferpay'

    Invertus\SaferPay\Service\PaymentRestrictionValidation\BasePaymentRestrictionValidation:
        class: Invertus\SaferPay\Service\PaymentRestrictionValidation\BasePaymentRestrictionValidation
        arguments:
            - '@=service("adapter.context")'
            - '@Invertus\SaferPay\Repository\SaferPayPaymentRepository'
            - '@Invertus\SaferPay\Repository\SaferPayRestrictionRepository'
        tags:
            - { name: saferpay.paymentrestriction }

    Invertus\SaferPay\Service\PaymentRestrictionValidation\KlarnaPaymentRestrictionValidation:
        class: Invertus\SaferPay\Service\PaymentRestrictionValidation\KlarnaPaymentRestrictionValidation
        arguments:
            - '@=service("adapter.context")'
        tags:
            - { name: saferpay.paymentrestriction }

    Invertus\SaferPay\Service\PaymentRestrictionValidation\ApplePayPaymentRestrictionValidation:
        class: Invertus\SaferPay\Service\PaymentRestrictionValidation\ApplePayPaymentRestrictionValidation
        arguments:
            - '@=service("adapter.context")'
        tags:
            - { name: saferpay.paymentrestriction }

    Invertus\SaferPay\Utility\PriceUtility:
        class: Invertus\SaferPay\Utility\PriceUtility

    Invertus\SaferPay\Provider\PaymentRedirectionProvider:
        class: Invertus\SaferPay\Provider\PaymentRedirectionProvider
        arguments:
            - '@=service("adapter.context").getContext()'
            - '@=service("saferpay").name'
            - '@Invertus\SaferPay\Repository\SaferPayFieldRepository'

    Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionAuthorization:
        class: Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionAuthorization
        arguments:
            - '@Invertus\SaferPay\Service\Request\AuthorizationRequestObjectCreator'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'
            - '@Invertus\SaferPay\Api\Request\AuthorizationService'
            - '@Invertus\SaferPay\Service\SaferPayOrderStatusService'
            - '@=service("adapter.context").getContext()'

    Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionAssertion:
        class: Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionAssertion
        arguments:
            - '@Invertus\SaferPay\Service\Request\AssertRequestObjectCreator'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'
            - '@Invertus\SaferPay\Api\Request\AssertService'
            - '@Invertus\SaferPay\Service\SaferPayOrderStatusService'

    Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionRefundAssertion:
        class: Invertus\SaferPay\Service\TransactionFlow\SaferPayTransactionRefundAssertion
        arguments:
            - '@Invertus\SaferPay\Service\Request\AssertRefundRequestObjectCreator'
            - '@Invertus\SaferPay\Repository\SaferPayOrderRepository'
            - '@Invertus\SaferPay\Api\Request\AssertRefundService'
            - '@Invertus\SaferPay\Service\SaferPayOrderStatusService'

    Invertus\SaferPay\Service\LegacyTranslator:
        class: Invertus\SaferPay\Service\LegacyTranslator
        arguments:
            - '@saferpay'

    Invertus\SaferPay\Api\Request\ObtainPaymentMethodsService:
        class: Invertus\SaferPay\Api\Request\ObtainPaymentMethodsService
        arguments:
            - '@api.request'

    Invertus\SaferPay\Service\SaferPayObtainPaymentMethods:
        class: Invertus\SaferPay\Service\SaferPayObtainPaymentMethods
        arguments:
#            - '@saferpay'
#            - '@=service("adapter.context").getContext()'
            - '@Invertus\SaferPay\Api\Request\ObtainPaymentMethodsService'
            - '@Invertus\SaferPay\Service\Request\ObtainPaymentMethodsObjectCreator'

    Invertus\SaferPay\Service\SaferPayRefreshPaymentsService:
        class: Invertus\SaferPay\Service\SaferPayRefreshPaymentsService
        arguments:
            - '@Invertus\SaferPay\Repository\SaferPayPaymentRepository'
            - '@Invertus\SaferPay\Service\SaferPayObtainPaymentMethods'
            - '@Invertus\SaferPay\Repository\SaferPayRestrictionRepository'
            - '@Invertus\SaferPay\Repository\SaferPayFieldRepository'