name: Deploy

on:
  pull_request:
    types: [closed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install PHP 5.6
        uses: shivammathur/setup-php@v2
        with:
          php-version: '5.6'
      - name: Run composer install
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.COMPOSER_AUTH_TOKEN }}"} }'
        run: |
          composer install --no-progress --prefer-dist --optimize-autoloader --no-dev

      - name: build
        # IF YOU EDIT THIS, DON'T FORGET TO EDIT release.yml
        run: |
          cp .github/.htaccess vendor/.htaccess
          rm -rf .git
          rm -rf .github
          rm -rf tests
          rm -rf cypress
          rm -rf .docker
          mkdir saferpayofficial
          rsync -Rr ./ ./saferpayofficial
          shopt -s extglob
          rm -r !(saferpayofficial)
          find . -maxdepth 1 -type f -exec rm "{}" \;
          cd saferpayofficial && rm -rf saferpayofficial
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: saferpayofficial
          path: |
            .